
<app-navbar></app-navbar>
<div class="main-container">
    <p class="para">URL Shortener is application which helps us to shorten a lengthy url to a small one, this is really useful when it comes embedding these links in places in like newspapers , converting links to qr and it takes less memory while storing and sharing. </p>
    <h6>Get started,</h6>
    <button type="button" class="btn btn-primary" routerLink="/signup">Sign Up</button>
    <h6>Already have an acccount,</h6>
    <button type="button" class="btn btn-primary" routerLink="/signin">Sign In</button>
</div>