<app-navbar></app-navbar>
<h1>Welcome Bharath,</h1>
<hr>
<div class="shortn_link">
    <h5>Shorten a new link</h5>
    <div class="input-group">
        <span class="input-group-text">Full Link</span>
        <input type="text" aria-label="Full Link" class="form-control" #emailSignup>
    </div>
    <div class="input-group">
        <span class="input-group-text">Short Link</span>
        <span class="input-group-text">bit.ly/</span>
        <input type="text" aria-label="Email" class="form-control" placeholder="choose a custom link" #emailSignup>
        <button type="button" class="btn btn-primary">Choose Random</button>
        
    </div>
    <button type="button" class="btn btn-primary">Shorten Link</button>
</div>