.shortn_link{
    width :500px;
    margin: auto;
    text-align: center;
    
    left: 50%;
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    
}
.spacer{
    height:15px
}
.button-style{
    background-color: transparent;
    border: transparent;
}