<app-navbar></app-navbar>
<div *ngIf="no_data" style="text-align: center; margin: 20px; ">No Visits to this link yet</div>
<div *ngIf="!no_data">
  <h4 style="margin: 30px;"><u>Current Link: https://url-shortner-418d4.web.app/{{key}}</u></h4>
  <h6 style="margin: 30px;">Total Visits: {{logs.length}}</h6>

  <hr>
<div class="row">
  <div class="col-md-4">
    <h4 style ="text-align: center;">Operating System</h4>
      <div  class="pie-chart" >
      <canvas baseChart 
        [data]="pieChartData1" 
        [labels]="pieChartLabels1" 
        [chartType]="pieChartType1"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins1"
        [legend]="pieChartLegend1"
        [colors]="donutColors1"
        >
      </canvas>
    </div>
  </div>

  <div class="col-md-4">
    <h4 style ="text-align: center;">Browser</h4>
      <div  class="pie-chart" >
      <canvas baseChart 
        [data]="pieChartData2" 
        [labels]="pieChartLabels2" 
        [chartType]="pieChartType2"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins2"
        [legend]="pieChartLegend2"
        [colors]="donutColors1"
        >
      </canvas>
    </div>
  </div>

  <div class="col-md-4">
    <h4 style ="text-align: center;">Device-type</h4>
    <div *ngIf="no_data">No Visits to this link yet</div>
      <div  class="pie-chart" >
      <canvas baseChart 
        [data]="pieChartData3" 
        [labels]="pieChartLabels3" 
        [chartType]="pieChartType3"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins3"
        [legend]="pieChartLegend3"
        [colors]="donutColors1"
        >
      </canvas>
    </div>
  </div>
</div>
<hr>
<!-- <div class="row">
  <div class="col-md-6">
    <h4 style ="text-align: center;">Country-Data</h4>
    <table class="main-stats-table" *ngFor ="let count of barChart2Data; index as i">
      <tr>
        <td class="main-stats-table-left">{{barChartLabels[i]}}</td>

        <td class="main-stats-table-right">{{count}}</td>
      </tr>
      <tr class="main-stats-table-spacer"></tr>
    </table>
  </div>

  <div class="col-md-6">
    <h4 style ="text-align: center;">Country-Chart</h4>
    <div  class="bar-chart">
      <canvas baseChart 
        [data]="barChart2Data"
        [labels]="barChartLabels"
        [options]="barChart2Options"
        [plugins]="barChart2Plugins"
        [legend]="barChart2Legend"
        [chartType]="barChart2Type"
      >
      </canvas>
      </div>
  </div>
</div>
<hr> -->
<div class="row" >
  <div class="col-md-12">
    <h2 style ="text-align: left;margin: 40px;">All Logs</h2>
    <table class="main-stats-table" *ngFor ="let log of logs">
      <tr>
        <td class="main-stats-table-left">{{log.date +" UTC"}}</td>
        <td class="main-stats-table-right">{{"browser="+log.browser}}, {{"device type="+log.deviceType}}, {{"os="+log.os}}</td>        
        
      </tr>
      <tr class="main-stats-table-spacer"></tr>
    </table>  
  </div>
</div>