<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">URL Shortner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <button type="button" class="btn btn-outline-primary" routerLink="/signup" *ngIf="!isloggedIn">Sign Up</button>
      <span style="width: 15px;" *ngIf="!isloggedIn"></span>
      <button type="button" class="btn btn-outline-primary" routerLink="/signin" *ngIf="!isloggedIn">Sign In</button>

      <button type="button" class="btn btn-outline-primary" *ngIf="isloggedIn" (click)="signOut()">Sign Out</button>
      
    </div>
</nav>
